@{
    ViewData["Title"] = "Home";
}

<div id="homePage" class="text-center text-capitalize  text-black">
    <h1 class="display-4">Welcome To Portfolio Tracker</h1>
    <p class="display-6">Here you can construct your investment portfolio and monitor your profit/loss.</p>
</div>
